:root {
  --sombra: 0rem 0.5rem 0.5rem rgb(0, 0, 0);
  --color-texto: black;
  --animacion: animacion 5s ease infinite;
  --size: 200%;
  --bicho: radial-gradient(
    circle,
    #f6df45,
    #d5d838,
    #b3d02e,
    #90c72b,
    #69be2c,
    #52b837,
    #36b240,
    #02ac48,
    #00a854,
    #00a45e,
    #06a067,
    #199b6e
  );
  --veneno: radial-gradient(
    circle,
    #be19f8,
    #ab19e9,
    #9918da,
    #8717cb,
    #7615bc,
    #6b12b7,
    #6010b2,
    #550dad,
    #4b0ab1,
    #3d09b4,
    #2b08b8,
    #0109bc
  );
  --normal: radial-gradient(
    circle,
    #a1a1a3,
    #959597,
    #89898b,
    #7d7d7f,
    #717173,
    #646466,
    #575759,
    #4a4a4c,
    #39393b,
    #29292a,
    #1a1a1a,
    #070707
  );
  --hada: radial-gradient(
    circle,
    #fd6efc,
    #d960d4,
    #b553af,
    #92468b,
    #703969,
    #6f3f69,
    #6e4568,
    #6d4a68,
    #8d6588,
    #ae82aa,
    #d1a0cd,
    #f4bff2
  );
  --psiquico: radial-gradient(
    circle,
    #ee039c,
    #e20496,
    #d60490,
    #ca0489,
    #be0483,
    #c00289,
    #c2018f,
    #c40095,
    #d400ab,
    #e200c3,
    #ee00dd,
    #f90df9
  );
  --lucha: radial-gradient(
    circle,
    #f0b465,
    #f0a752,
    #f09840,
    #f0892e,
    #f1791d,
    #ef7115,
    #ee690d,
    #ec6104,
    #e86104,
    #e46204,
    #e06205,
    #dc6205
  );
  --fantasma: radial-gradient(
    circle,
    #60035c,
    #5c0047,
    #540034,
    #4a0025,
    #3e0018,
    #370218,
    #300317,
    #290215,
    #24051b,
    #1d0820,
    #150b23,
    #0b0e23
  );
  --acero: radial-gradient(
    circle,
    #aaa9a9,
    #8c8b8c,
    #6f6f6f,
    #545454,
    #3a3a3a,
    #363636,
    #313131,
    #2d2d2d,
    #3c3c3c,
    #4c4b4b,
    #5c5b5a,
    #6d6b6a
  );
  --volador: radial-gradient(
    circle,
    #0d87e5,
    #009ae3,
    #00a6c3,
    #00ad8e,
    #2cae53,
    #62ae3a,
    #88ac21,
    #aaa808,
    #aeab06,
    #b3ae05,
    #b7b103,
    #bcb401
  );
  --roca: radial-gradient(
    circle,
    #aaa9a9,
    #8b8888,
    #6e6867,
    #514a48,
    #362e2b,
    #2d231f,
    #231813,
    #1c0b01,
    #200d01,
    #240e01,
    #280f01,
    #2c1002
  );
  --tierra: radial-gradient(
    circle,
    #cf6809,
    #bd5b09,
    #ab4f08,
    #9a4307,
    #883705,
    #873506,
    #853408,
    #843209,
    #933a0e,
    #a24114,
    #b24919,
    #c2511f
  );
  --hielo: radial-gradient(
    circle,
    #196ebc,
    #035bae,
    #00489f,
    #00358f,
    #00217e,
    #011873,
    #010f68,
    #00065d,
    #000956,
    #000a4e,
    #000b47,
    #030b3f
  );
  --dragon: radial-gradient(
    circle,
    #1616e7,
    #a600bf,
    #d90093,
    #f1006b,
    #f7004b,
    #f5133a,
    #f22328,
    #ed3111,
    #e9410b,
    #e54e07,
    #e05905,
    #dc6205
  );
  --electrico: radial-gradient(
    circle,
    #f9fc05,
    #c5cb1d,
    #959c23,
    #696e22,
    #41441d,
    #3e401c,
    #3a3d1a,
    #373919,
    #555a1c,
    #767c1c,
    #98a017,
    #bdc606
  );
  --planta: radial-gradient(
    circle,
    #4df645,
    #3cd33a,
    #2cb12f,
    #1d9024,
    #0f7019,
    #07651b,
    #025b1b,
    #00501b,
    #005626,
    #005b30,
    #01613a,
    #046644
  );
  --fuego: radial-gradient(
    circle,
    #c2ba08,
    #cfa500,
    #da8d00,
    #e27400,
    #e85600,
    #e64500,
    #e43101,
    #e10f05,
    #d81304,
    #ce1603,
    #c51802,
    #bc1901
  );
  --agua: radial-gradient(
    circle,
    #5ce2f8,
    #00cbff,
    #00b1ff,
    #0092ff,
    #006dff,
    #006dff,
    #006dff,
    #006dff,
    #0090ff,
    #00aafc,
    #00bee5,
    #26cecf
  );
}
* {
  font-family: "Headline";
  color: #fdfeff;
  box-sizing: border-box;
}
@keyframes animacion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.body {
  text-align: center;
  background: #41295a; /* fallback for old browsers */

  background-image: linear-gradient(
    120deg,
    #1f0066,
    #c50112e1,
    #006650,
    #575759,
    #858500,
    #af00af,
    #0800b7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: var(--size);
  animation: var(--animacion);
}

.activo {
  background-color: #005626;
}
#arriba {
  bottom: 10px;
  right: 10px;
  display: flex;
  position: fixed;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 80%;
  z-index: 1;
}
#arriba:hover {
  transform: scale(1.2);
  transition: 0.2s;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
h1 {
  font-size: 4vw;
}

#principal {
  margin: 0 auto;
  width: 60%;
  align-content: center;
}

#principal img {
  width: 50%;
}

#categorias {
  visibility: visible;
  width: 250px;
  display: none;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  grid-gap: 5px;
  padding: 10px;
  margin: 0 auto;

  transition: 2s ease all;
}

.categorias-tipo {
  width: 100px;
}

#ocultar-tipos,
#mostrar-tipos {
  margin: 0 auto;

  display: flex;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
#ocultar-tipos:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
#mostrar-tipos:hover {
  transform: scale(1.1);
  transition: 0.2s;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
#ocultar-tipos {
  display: none;
}

#contenedor {
  width: auto;
  margin: 4rem auto;
  padding: 5px 10%;
  display: grid;
  grid-gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.contenedor-pokemon {
  width: 250px;
  height: 100%;
  margin: 1em auto;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  backdrop-filter: blur(3rem);
  background-color: rgba(255, 255, 255, 0.055);
}
.contenedor-pokemon:hover {
  transform: scale(1.01);
  transition: 1s;
}
.imagen-pokemon {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.descripcion {
  color: #fdfeff;
}
.descripcion-numero {
  text-shadow: var(--sombra);
  font-size: 2vw;
  margin: 5% auto;
}
.descripcion-nombre {
  font-size: 2.5vw;
  margin: 5% auto;
  text-shadow: var(--sombra);
}
.descripcion-tipo {
  width: 50%;
  text-align: center;
  font-size: 1.5vw;
  padding: 3%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}
.planta,
.veneno,
.fuego,
.bicho,
.dragon,
.hada,
.fantasma,
.tierra,
.normal,
.psiquico,
.electrico,
.lucha,
.volador,
.roca,
.agua,
.hielo,
.acero {
  border-radius: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}
button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.acero {
  background-image: linear-gradient(to right, #666b69 0%, #1e1e2e 100%);
}
.planta {
  background-image: linear-gradient(to right, #00663a 0%, #00a06d 100%);
}

.veneno {
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
}

.fuego {
  background-image: linear-gradient(-60deg, #d60606 0%, #d1a104 100%);
}
.hada {
  color: var(--color-texto);
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
}

.bicho {
  color: var(--color-texto);
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.dragon {
  background-image: linear-gradient(to left, #f83600 0%, #2399f9 100%);
}

.fantasma {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.tierra {
  background-image: linear-gradient(to top, #97410f 0%, #f3ad4a 100%);
}
.normal {
  color: var(--color-texto);
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
}
.mostrar {
  color: var(--color-texto);
  border-radius: 2rem;
  box-shadow: var(--sombra);
  background-image: linear-gradient(
    to right,
    #a2a3a7 0%,
    #8186a8 1%,
    #6d5c74 100%
  );
}
.psiquico {
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}
.electrico {
  color: var(--color-texto);
  background-image: linear-gradient(to right, #fcde47 0%, #faec2b 100%);
}
.lucha {
  color: var(--color-texto);
  background-image: linear-gradient(to top, #f0bf9f 0%, #f87325 100%);
}
.volador {
  background-image: linear-gradient(
    to top,
    rgb(54, 114, 30) 0%,
    #72631e 1%,
    #0052df 100%
  );
}

.roca {
  background-image: linear-gradient(to top, #333231 0%, #af6906 100%);
}
.agua {
  color: var(--color-texto);
  background-image: linear-gradient(to right, #0a22fe 0%, #8dcdf8 100%);
}

.hielo {
  background-image: linear-gradient(to right, #044577 0%, #070aac 100%);
}

.contenedor-veneno:hover {
  background-image: var(--veneno);
}
.contenedor-normal:hover {
  background-image: var(--normal);
}
.contenedor-hada:hover {
  background-image: var(--hada);
}

.contenedor-psiquico:hover {
  background-image: var(--psiquico);
}
.contenedor-lucha:hover {
  background-image: var(--lucha);
}

.contenedor-fantasma:hover {
  background-image: var(--fantasma);
}
.contenedor-acero:hover {
  background-image: var(--acero);
}

.contenedor-volador:hover {
  background-image: var(--volador);
}
.contenedor-roca:hover {
  background-image: var(--roca);
}
.contenedor-tierra:hover {
  background-image: var(--tierra);
}
.contenedor-hielo:hover {
  background-image: var(--hielo);
}
.contenedor-bicho:hover {
  background-image: var(--bicho);
}
.contenedor-dragon:hover {
  background-image: var(--dragon);
}
.contenedor-electrico:hover {
  background-image: var(--electrico);
}

.contenedor-planta:hover {
  background-image: var(--planta);
}
.contenedor-fuego:hover {
  background-image: var(--fuego);
}
.contenedor-agua:hover {
  background-image: var(--agua);
}
.overlay {
  background: rgba(0, 0, 0, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 3s ease all;
  visibility: visible;
  backdrop-filter: blur(0.5rem);
}

.fondo-veneno {
  background-image: var(--veneno);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-normal {
  background-image: var(--normal);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-hada {
  background-image: var(--hada);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-psiquico {
  background-image: var(--psiquico);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-lucha {
  background-image: var(--lucha);
  background-size: var(--size);
  animation: var(--animacion);
}

.fondo-fantasma {
  background-image: var(--fantasma);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-acero {
  background-image: var(--acero);
  background-size: var(--size);
  animation: var(--animacion);
}

.fondo-volador {
  background-image: var(--volador);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-roca {
  background-image: var(--roca);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-tierra {
  background-image: var(--tierra);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-hielo {
  background-image: var(--hielo);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-bicho {
  background-image: var(--bicho);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-dragon {
  background-image: var(--dragon);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-electrico {
  background-image: var(--electrico);
  background-size: var(--size);
  animation: var(--animacion);
}

.fondo-planta {
  background-image: var(--planta);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-fuego {
  background-image: var(--fuego);
  background-size: var(--size);
  animation: var(--animacion);
}
.fondo-agua {
  background-image: var(--agua);
  background-size: var(--size);
  animation: var(--animacion);
}

.overlay-contenedor-pokemon {
  width: auto;
  height: auto;
  margin: 5% 10%;
  align-content: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.493);
  border: 1px solid transparent;
  backdrop-filter: blur(3rem);
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2%;
  display: flex;
  justify-content: center;
}
.overlay-descripcion {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 1rem;
}
.overlay-descripcion > p {
  margin: 2% auto;
}
.overlay-descripcion-numero {
  font-size: 2rem;
}
.overlay-descripcion-nombre {
  font-size: 5vw;
}

.overlay-descripcion-pokemon {
  width: 85%;
  font-size: 1.5rem;
}
.descripcion-imagen-pokemon {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.btn-cerrar {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  color: red;
  transition: 0.5s ease all;
}

.overlay-contenedor-imagen {
  width: 90%;
  margin: auto;
}

.btn-cerrar:hover {
  opacity: 0.5;
  transform: scale(0.8);
  transition: 0.2s ease all;
}
@media screen and (max-width: 420px) {
  .descripcion-numero {
    font-size: 6vw;
    margin: 5% auto;
  }
  .descripcion-nombre {
    font-size: 7.5vw;
    margin: 5% auto;
  }
  .descripcion-tipo {
    font-size: 2vw;
  }
  .overlay-contenedor-pokemon {
    flex-direction: column;
  }
  .overlay-contenedor-imagen {
    width: 50%;
    margin: 0 auto;
  }
  .descripcion-imagen-pokemon {
    width: 90%;
  }
  .icono-pokebola {
    width: 12%;
  }
  .overlay-descripcion-nombre {
    font-size: 95%;
  }
  .overlay-descripcion-numero {
    font-size: 80%;
  }
  .overlay-descripcion-pokemon {
    width: 95%;
    font-size: 90%;
  }
  .descripcion-tipo {
    width: 100px;
    text-align: center;
    font-size: 80%;
    padding: 3%;
    margin: 4% auto;
  }
}
@media screen and (min-width: 421px) and (max-width: 768px) {
  .descripcion-numero {
    font-size: 3vw;
  }
  .descripcion-nombre {
    font-size: 4.5vw;
  }
  .descripcion-tipo {
    font-size: 2.5vw;
  }

  .overlay-contenedor-pokemon {
    flex-direction: column;
  }
  .overlay-contenedor-imagen {
    width: 50%;
    margin: 0 auto;
  }
  .descripcion-imagen-pokemon {
    width: 100%;
  }
  .icono-pokebola {
    width: 15%;
  }

  .overlay-descripcion-numero {
    font-size: 3vw;
  }

  .descripcion-tipo {
    width: 100px;
    text-align: center;
    font-size: 80%;
    padding: 3%;

    margin: 4% auto;
  }
}
@media (orientation: landscape) and (max-height: 420px) {
  #contenedor {
    display: grid;
    grid-gap: 10px;

    grid-template-columns: 1fr;
  }
  .contenedor-pokemon {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .descripcion {
    width: 90%;
    margin: auto;
  }
  .descripcion-numero {
    width: auto;
    font-size: 4vw;
  }
  .descripcion-nombre {
    width: auto;
    font-size: 4vw;
  }
  .descripcion-tipo {
    display: block;
    margin: 5px auto;
  }
  .overlay-contenedor-pokemon {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .overlay-contenedor-imagen {
    width: 100%;
    margin: 0 auto;
  }
  .descripcion-imagen-pokemon {
    width: 100%;
    object-fit: cover;
  }
  .icono-pokebola {
    width: 12%;
  }
  .overlay-descripcion-nombre {
    font-size: 3.3vw;
  }
  .overlay-descripcion-numero {
    font-size: 2vw;
  }
  .overlay-descripcion-pokemon {
    width: auto;
    font-size: 2.2vw;
  }
  .descripcion-tipo {
    text-align: center;
    font-size: 2.2vw;
    padding: 1%;
    margin: 2% auto;
  }
}
@media (min-width: 1440px) {
  #contenedor {
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .contenedor-pokemon {
    width: 100%;
  }
  #categorias {
    width: auto;

    grid-template-columns: repeat(2, 200px);
  }

  .categorias-tipo {
    width: 100%;
    font-size: 2vw;
  }

  .descripcion-numero {
    font-size: 2vw;
  }
  .descripcion-nombre {
    font-size: 3.2vw;
  }
  .descripcion-tipo{
    width: auto;
  }

  
  .overlay-descripcion-numero {
    font-size: 2rem;
  }
  .overlay-descripcion-nombre {
    font-size: 5vw;
  }
  
  .overlay-descripcion-pokemon {
    width: 85%;
    font-size: 2.5rem;
  }
  .descripcion-imagen-pokemon {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .overlay-descripcion-numero {
    font-size: 3vw;
  }
  .icono-pokebola{
    width:50px;
  }

  .descripcion-tipo {
    width: 50%;
    text-align: center;
    font-size: 2rem;
    padding: 3%;

    margin: 4% auto;
  }
}
/*////////////////////*/
